.magic-soon-section {
  background-color: #f8f8f8;
  padding: 20px; /* Adjust as needed for top and bottom space */
  text-align: center;
}

.magic-soon-text {
  color: lightgrey;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
  width: 100%; /* Occupy the full width */
  font-size: 24px; /* Adjust as needed for the font size */
  white-space: pre; /* Preserve consecutive spaces */
}

.magic-soon-text.appear {
  opacity: 1;
  transform: translateY(0);
}
