.irl-utility-section {
  display: flex;
  align-items: center;
  justify-content: space-around; /* Adjust as needed */
  text-align: left;
  margin: 20px; /* Adjust as needed */
}

.image-container {
  /* Remove or adjust the margin-right property to control spacing */
}

.utility-image {
  max-width: 500px; /* Adjust the maximum width of the image */
  height: auto;
  border-radius: 30px; /* Optional: Add border-radius for rounded corners */
}

.text-container {
  max-width: 600px; /* Adjust the maximum width of the text content */
}

.text-container h2 {
  margin: 0; /* Resetting the margin for h2 */
}

/* Add any additional styles as needed */
